<a href="https://colab.research.google.com/github/ShahriarShafin/Basic-Problems-/blob/master/ct_1_solve.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. What is the output of the following code<br>
` a = 100 - 6 % 4 /5 -50`

In [ ]:
# ans-1
a = 100 - 6 % 4 /5 -50

print(a)

2. Suppose we have two lists –<br>
`list1 = [“cat”,105,”bat”,256,512,1024]`<br>
`list2 = [“coffee”,”rain”]`<br>
We want to do the following-

a) Write one line code to print the 1st to 3rd element ([105,”bat”,
256]) from the list1.<br>

In [ ]:
# ans 2-(a)
list1 = ["cat",105,"bat",256,512,1024]
list2 = ["offee","rain"]
print(list1[1:4])

[105, 'bat', 256]

b) Write one line code to print the 3rd to the last element([256,512, 1024]) from list1.<br>Don’t use fixed index to denote the lastelement here.<br>

In [ ]:
# ans 2-(b)
list1 = ["cat",105,"bat",256,512,1024]
list2 = ["offee","rain"]
print(list1[3:])

c) Write one line code to print the 0th to the 3rd element ( [“cat”,
105, “bat”, 256]) from list1.<br> Don’t use fixed index to denote the 0th
element here.<br>

In [ ]:
# ans 2-(c)
list1 = ["cat",105,"bat",256,512,1024]
list2 = ["offee","rain"]
print(list1[:4])

d) Write one line code to concatenate list1 and list2 to create list3.

In [ ]:
# ans 2-(b)
list1 = ["cat",105,"bat",256,512,1024]
list2 = ["offee","rain"]
list3 = list1 + list2
print(list3)

3. Write two line codes where<br>
a) In the first line you will take an input from user<br>
b) In the second line you will check if the number is non-negative (0
or positive) or negative.

In [ ]:
# ans 3-(a)
val = input("Enter your value: ") 
print(type(val))

In [1]:
# ans 3-(b)
num = int(input("Enter a Number: "))
print(str(num) + " is negative number") if num < 0 else print(str(num) + " is non-negative number")

Enter a Number: 0
0 is non-negative number